<div class="card">
  <div class="card-header" style="background: #0d3c61; padding: 10px;">
    <div style="display: flex; align-items: center; justify-content: center;">
      <span class="card-title" style="color: #ffffff; margin-bottom: 0px;">Ingreso Información Personal</span>
    </div>
  </div>


<div class="container">
  <div class="row">

    <!-- Primer bloque -->
    <div class="col-md-12 mb-3">
      <div class="row justify-content-center">
        <div class="col-md-2 mb-3">
          <div class="form-container justify-content-center">
            <div class="form-group text-center">
              <mat-card class="example-card" appearance="outlined">
                <img mat-card-image src="assets/images/circleLogin.png" alt="Foto login">
                <div class="d-grid">

                    <button mat-button class="btn btn-secondary "><span class="material-symbols-outlined">upload</span></button>

                </div>
              </mat-card>
            </div>

          </div>
        </div>

        <div class="col-md-3 mb-4 spaced-button2">
          <div class="form-container">
            <div class="form-group text-center">


              <br>
              <mat-radio-group aria-label="Seleccionar" class="input1 ">
                <mat-radio-button value="cedula">Cédula</mat-radio-button>
                <mat-radio-button value="pasaporte">Pasaporte</mat-radio-button>
                <br>
                  <input type="text" class="form-control input1" placeholder="Número de registro">
              </mat-radio-group>
            </div>
          </div>
        </div>

        <div class="col-md-3 mb-4 spaced-button">
          <div class="form-container text-center ">

              <label>Subir documentos:</label>
              <mat-card>
              <div class="d-grid">
                <button class="btn btn-secondary ">
                  <span class="material-symbols-outlined">upload_file</span>
                </button>
              </div>
            </mat-card>
          </div>
        </div>
        <div class="col-md-3 mb-4 spaced-button">
          <div class="form-container text-center ">
              <label>Subir carta de presentación:</label>
              <div class="d-grid">
                <button class="btn btn-secondary ">
                  <span class="material-symbols-outlined">upload_file</span>
                </button>
              </div>

          </div>
        </div>
      </div>
    </div>
      <div class="row">

        <div class="col-md-3 mb-3">
          <div class="form-container">
            <div class="form-group">
              <input type="text" class="form-control input1" placeholder="Nombres">
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="form-container">
            <div class="form-group">
              <input type="text" class="form-control input1" placeholder="Apellidos">
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="form-container">
            <div class="form-group">
              <select id="sexo" class="form-control input1" style="color: #868c91be;">
                <option value="" style="color: #868c91be;" disabled selected>Sexo</option>
                <option value="SexoM">Masculino</option>
                <option value="SexoF">Femenino</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="form-container">
            <div class="form-group">
                <input matInput [matDatepicker]="picker" type="datetime" class="form-control input1" placeholder="Fecha de Nacimiento">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin del primer bloque -->

    <!-- Segundo bloque -->
<div class="col-md-12 mb-3">
  <div class="row">
    <div class="col-md-3 mb-3">
      <input type="text" class="form-control input1" placeholder="País de Nacimiento">
    </div>
    <div class="col-md-3 mb-3">
      <input type="text" class="form-control input1" placeholder="Provincia de Nacimiento">
    </div>
    <div class="col-md-3 mb-3">
      <input type="text" class="form-control input1" placeholder="Cantón de Nacimiento">
    </div>

    <div class="col-md-3 mb-3">

      <input type="text" class="form-control input1" placeholder="Dirección de Domicilio">


    </div>
  </div>

  <div class="row">
    <div class="col-md-3 mb-3">
      <input type="text" class="form-control input1" placeholder="Provincia de Domicilio">
    </div>
    <div class="col-md-3 mb-3">

      <select id="estCivil" class="form-control input1" style="color: #868c91be;" >
        <option value="" disabled selected >Estado Civil</option>
        <option value="EstSoltero"  >Soltero</option>
        <option value="EstCasado" style="color: #000000be;" >Casado</option>
        <option value="EstDivorciado">Divorciado</option>
        <option value="EstViudo">Viudo</option>
      </select>
    </div>

    <div class="col-md-3 mb-3">

      <select id="etnia" class="form-control input1" style="color: #868c91be;" >
        <option value="" disabled selected >Etnia</option>
        <option value="EtnMestizo"  >Mestizo</option>
        <option value="EtnMulato">Mulato</option>
      </select>
    </div>
    <div class="col-md-3 mb-3">
      <input type="text" class="form-control input1" placeholder="Telefono de Domicilio">

    </div>
  </div>


  <div class="row">

    <div class="col-md-6 mb-3">
      <input type="text" class="form-control input1" placeholder="Cantón de Domicilio">
    </div>

    <div class="col-md-6 mb-3">
      <input type="text" class="form-control input1" placeholder="Telefono Celular">
    </div>


  <div class="row">
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control input1" placeholder="Linkedin">
        <mat-hint style="color: #868c91be;">(opcional)</mat-hint>

    </div>
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control input1" placeholder="Instagram">
        <mat-hint style="color: #868c91be;">(opcional)</mat-hint>

    </div>
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control input1" placeholder="Perfil de X">
        <mat-hint style="color: #868c91be;">(opcional)</mat-hint>
    </div>
  <div>

  </div>
</div>
<!-- Fin del segundo bloque -->


  </div>
</div>
  </div>
