.mat-grid1 {
  width: 100%;
  padding: 20px;
}

.label-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

mat-form-field {
  width: 100%;
}

@media (max-width: 768px) {
  .mat-grid1 {
    grid-template-columns: 1fr;
  }

  .label-container, .input-container {
    padding: 10px;
  }
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-select{
  width: 60%;
  height: 8%;

}
