<div class="card">
  <div class="card-header " style=" background: #0d3c61; padding: 10px;">
    <div style="display: flex; align-items: center; justify-content: center;">
      <span class="card-title" style="color:#ffffff; margin-bottom: 20px;">Postulaciones</span>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid mt-4" style="padding: 0;">
      <div class="table-responsive">
        <table class="table  no-border-table">
          <tbody>
            <tr>
              <td>
                <label>Seleccione la Maestria:</label>
                <input type="text" class="form-control" placeholder="Empresa ">
              </td>
              <td>
                <label>Periodo:</label>
                <input type="text" class="form-control" placeholder="Empresa ">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
