<div class="card">
  <div class="card-header" style="background: #0d3c61; padding: 10px;">
    <div style="display: flex; align-items: center; justify-content: center;">
      <span class="card-title" style="color: #ffffff; margin-bottom: 0px;">Ingreso de Información académica</span>
    </div>
  </div>



<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table no-border-table">
          <thead>


          </thead>
          <tbody>
            <tr>
              <td>
                <label>Número de Registro de título:</label>
                <input type="text" class="form-control" placeholder="Número de registro">
              </td>
              <td>
                <label>Nombres de referente:  <br>  (opcional)  </label>
                <input type="text" class="form-control" placeholder="Nombres referente">
              </td>
            </tr>
            <tr>
              <td>
                <label>Celular de referente:  <br>  (opcional)  </label>
                <input type="text" class="form-control" placeholder="Celular referente">
              </td>
              <td>
                <label>Apellidos de referente:  <br>  (opcional)  </label>
                <input type="text" class="form-control" placeholder="Apellidos referente">
              </td>
            </tr>
            <tr>
              <td>
                <label>Subir una copia del acta de grado:</label>
                <button class="btn btn-secondary">
                  <span class="material-symbols-outlined">upload_file</span>
                </button>
              </td>
              <td>
                <label>Subir una copia del título:</label>
                <button class="btn btn-secondary">
                  <span class="material-symbols-outlined">upload_file</span>
                </button>
              </td>
            </tr>

            <tr>
              <td>
                <label>Subir una copia de la suficiencia de inglés:  </label>
                <button class="btn btn-secondary">
                  <span class="material-symbols-outlined">upload_file</span>
                </button>
              </td>
              <td>
                <label>Subir carta de recomendación académica:  <br>(opcional)  </label>
                <button class="btn btn-secondary">
                  <span class="material-symbols-outlined">upload_file</span>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
