<!-- Contextual Classes -->

<div class="card">
  <h5 class="card-header">Seguimiento</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Acción</th>
          <th>Fecha</th>
          <th>Comentario</th>
          <th>Estado</th>

        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr class="table-default">
          <td>
            <i class="ti ti-brand-sketch ti-lg text-warning me-3"></i>
            <span class="fw-medium">Sketch Project</span>
          </td>
          <td>Ronnie Shane</td>
          <td>
            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
              <li>Lorem Ipsum</li>
            </ul>
          </td>
          <td><span class="badge bg-label-primary me-1">Active</span></td>

        </tr>
        <tr class="table-default">
          <td>
            <i class="ti ti-brand-react-native ti-lg text-info me-3"></i>
            <span class="fw-medium">React Project</span>
          </td>
          <td>Barry Hunter</td>
          <td>
            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
              <li>Lorem Ipsum</li>
            </ul>
          </td>
          <td><span class="badge bg-label-success me-1">Completed</span></td>

        </tr>
        <tr class="table-default">
          <td>
            <i class="ti ti-brand-angular ti-lg text-danger me-3"></i>
            <span class="fw-medium">Angular Project</span>
          </td>
          <td>Albert Cook</td>
          <td>
            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
              <li>Lorem Ipsum</li>
            </ul>
          </td>
          <td><span class="badge bg-label-primary me-1">Active</span></td>

        </tr>
        <tr class="table-default">
          <td>
            <i class="ti ti-brand-vue ti-lg text-success me-3"></i>
            <span class="fw-medium">VueJs Project</span>
          </td>
          <td>Trevor Baker</td>
          <td>
            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
              <li>Lorem Ipsum</li>
            </ul>
          </td>
          <td><span class="badge bg-label-info me-1">Scheduled</span></td>

        </tr>
        <tr class="table-default">
          <td>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--/ Contextual Classes -->

<script src="../../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../../assets/vendor/libs/popper/popper.js"></script>
<script src="../../assets/vendor/js/bootstrap.js"></script>
<script src="../../assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../../assets/vendor/libs/hammer/hammer.js"></script>
<script src="../../assets/vendor/libs/i18n/i18n.js"></script>
<script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="../../assets/vendor/js/menu.js"></script>

<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script src="../../assets/js/main.js"></script>

<!-- Page JS -->
<!-- Code injected by live-server -->
<script>
// <![CDATA[  <-- For SVG support
if ('WebSocket' in window) {
(function () {
  function refreshCSS() {
    var sheets = [].slice.call(document.getElementsByTagName("link"));
    var head = document.getElementsByTagName("head")[0];
    for (var i = 0; i < sheets.length; ++i) {
      var elem = sheets[i];
      var parent = elem.parentElement || head;
      parent.removeChild(elem);
      var rel = elem.rel;
      if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
        var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
        elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
      }
      parent.appendChild(elem);
    }
  }
  var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
  var address = protocol + window.location.host + window.location.pathname + '/ws';
  var socket = new WebSocket(address);
  socket.onmessage = function (msg) {
    if (msg.data == 'reload') window.location.reload();
    else if (msg.data == 'refreshcss') refreshCSS();
  };
  if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
    console.log('Live reload enabled.');
    sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
  }
})();
}
else {
console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
}
// ]]>
</script>
