.mat-toolbar.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 5px 0px; /* Asegúrate de que el footer tenga algo de espacio interno */
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permitir que el contenido se envuelva */
  gap: 2px; /* Espacio entre elementos */
}

.footer-text {
  font-size: 18px; /* Ajusta el tamaño de la fuente para que coincida con los botones */
}

