<div class="card">
  <div class="card-header  text-white p-2" style="background: #0d3c61; padding: 10px;">
    <div class="d-flex align-items-center justify-content-center">
      <h5 class="card-title mb-0" style="color: #ffffff; margin-bottom: 0px;">Ingreso Información Laboral</h5>
    </div>
  </div>
  <div class="container-fluid mt-4" style="padding: 0;">
    <div class="table-responsive">
      <table class="table  no-border-table">
        <tbody>
          <tr>
            <td>
              <label>Nombre de la empresa en que labora:</label>
              <input type="text" class="form-control" placeholder="Empresa ">
            </td>
            <td>
              <label>Cargo que desempeña: </label>
              <input type="text" class="form-control" placeholder="Cargo laboral">
            </td>
          </tr>
          <tr>
            <td>
              <label>Sector Laboral: </label>
              <input type="text" class="form-control" placeholder="Sector">
            </td>
            <td>
              <label>Lugar : </label>
              <input type="text" class="form-control" placeholder="Dirección">
            </td>
          </tr>
          <tr>
            <td>
              <label>Nombres del referente:</label>
              <input type="text" class="form-control" placeholder="Nombres">
            </td>
            <td>
              <label>Apellidos del referente:</label>
              <input type="text" class="form-control" placeholder="Apellidos">
            </td>
          </tr>
          <tr>
            <td>
              <label>Celular del referente:  </label>
              <input type="text" class="form-control" placeholder="Celular">
            </td>
            <td>
              <label>Subir carta de recomendación laboral:  <br>(opcional)  </label>
              <button class="btn btn-secondary">
                <span class="material-symbols-outlined">upload_file</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
